APP_ENV=dev
WG_ADDR=127.0.0.1
# postgres
POSTGRES_USER=aime
POSTGRES_PASSWORD=aime
POSTGRES_DB=aime
POSTGRES_PORT=5432
DATABASE_URL=postgres://aime:aime@localhost:5432/aime?sslmode=disable
# grafana admin login
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=changeme?please