[Interface]
Address = {{ aime_wg_address }}/32
PrivateKey = {{ server_private_key }}

[Peer]
PublicKey = {{ aime_wg_hub_public_key }}
Endpoint = {{ aime_wg_hub_endpoint }}
AllowedIPs = {{ aime_wg_hub_allowed_ips }}
PersistentKeepalive = 25
